@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 255, 255, 0.4),
        rgba(220, 220, 255, 0.2),
        rgba(180, 200, 255, 0.15),
        rgba(150, 170, 255, 0.1)
        ),
        linear-gradient(
        135deg,
        #f3e7ff,
        #ddeaff,
        #d4f1e6
        );
    background-size: cover;
}

header {
    width: 100%;
    max-height: 58px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 32px;
    
    background-color: #f6f4fbad;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

#title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    font-size: 24px;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.3s ease;
}

#title-header:hover {
    color: #925cf0;
}

#title-header > svg {
    color: #925cf0;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.link {
    color: #707c8e;
    font-size: 14px;

    cursor: pointer;
    transition: all 0.2s ease;

    position: relative;       
    display: inline-block;    
}

.link::after {
    width: 0%;
    height: 2px;

    content: "";

    position: absolute;
    left: 0;
    bottom: -3px;

    background: #8A62E8;
    background: linear-gradient(90deg,rgba(138, 98, 232, 1) 0%, rgba(54, 174, 140, 1) 100%);

    transition: width 0.3s ease;
}

.link:hover {
    color: #000;
}

.link:hover::after {
    width: 100%;
}

.theme-switch {
    width: 64px;
    height: 32px;

    display: flex;
    align-items: center;
    
    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 255, 255, 0.4),
        rgba(220, 220, 255, 0.2),
        rgba(180, 200, 255, 0.15),
        rgba(150, 170, 255, 0.1)
        ),
        linear-gradient(
        135deg,
        #f3e7ff,
        #ddeaff,
        #d4f1e6
        );
    background-size: cover;
    padding: 4px;

    border-radius: 9999px;

    position: relative;
    cursor: pointer;
}

.thumb {
    width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #8A62E8;
    background: linear-gradient(90deg,rgba(138, 98, 232, 1) 0%, rgba(54, 174, 140, 1) 100%);

    border-radius: 50%;

    color: #fff;

    padding: 4px;

    position: absolute;              
    left: 4px;                       
    transition: left 0.25s ease;
}

.theme-switch.active .thumb {
    left: 38px;                      
}

#accueil {
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 64px;
    padding: 164px 52px;
}

#hero-accueil {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

#typewriter {
}