@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    max-height: 58px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 32px;
    
    background-color: #f6f4fbad;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(18px);
}

#title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    font-size: 24px;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.3s ease;
}

#title-header:hover {
    color: #925cf0;
}

#title-header > svg {
    color: #925cf0;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.link {
    color: #707c8e;
    font-size: 14px;

    cursor: pointer;
    transition: all 0.2s ease;

    position: relative;       
    display: inline-block;    
}

.link::after {
    width: 0%;
    height: 2px;

    content: "";

    position: absolute;
    left: 0;
    bottom: -3px;

    background: #8A62E8;
    background: linear-gradient(90deg,rgba(138, 98, 232, 1) 0%, rgba(54, 174, 140, 1) 100%);

    transition: width 0.3s ease;
}

.link:hover {
    color: #000;
}

.link:hover::after {
    width: 100%;
}

.theme-switch {
    width: 64px;
    height: 32px;

    display: flex;
    align-items: center;
    
    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 255, 255, 0.4),
        rgba(220, 220, 255, 0.2),
        rgba(180, 200, 255, 0.15),
        rgba(150, 170, 255, 0.1)
        ),
        linear-gradient(
        135deg,
        #f3e7ff,
        #ddeaff,
        #d4f1e6
        );
    background-size: cover;
    padding: 4px;

    border-radius: 9999px;

    position: relative;
    cursor: pointer;
}

.thumb {
    width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #8A62E8;
    background: linear-gradient(90deg,rgba(138, 98, 232, 1) 0%, rgba(54, 174, 140, 1) 100%);

    border-radius: 50%;

    color: #fff;

    padding: 4px;

    position: absolute;              
    left: 4px;                       
    transition: left 0.25s ease;
}

.theme-switch.active .thumb {
    left: 38px;                      
}

#accueil {
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 255, 255, 0.4),
        rgba(220, 220, 255, 0.2),
        rgba(180, 200, 255, 0.15),
        rgba(150, 170, 255, 0.1)
        ),
        linear-gradient(
        135deg,
        #f3e7ff,
        #ddeaff,
        #d4f1e6
    );
    background-size: cover;

    padding-top: 64px;
    padding: 100px 52px;
}

#hero-accueil {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;

    padding-top: 100px;
}

#tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
    color: #8891a1;
    font-size: 14px;
    font-weight: 500;

    background-color: #f6f5fb;

    padding: 8px 16px;

    border-radius: 9999px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#tag > svg {
    color: #59c09f;
}

#typewriter {
    font-size: 42px;
    font-weight: 700;   

    border-right: solid 3px #925cf0;
}

.gradient-text {
    background: #8A62E8;
    background: linear-gradient(90deg,rgba(138, 98, 232, 1) 0%, rgba(54, 174, 140, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

#description {
    max-width: 672px;

    color: #637083;
    font-size: 18px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.buttons-accueil {
    font-size: 18px;
    font-weight: 600;

    padding: 12px 40px; 

    border-radius: 12px;

    cursor: pointer;

    transition: all 0.3s ease;
}

#explore-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: #fff;

    background: #8A62E8;
    background: linear-gradient(90deg,rgba(138, 98, 232, 1) 0%, rgba(54, 174, 140, 1) 100%);
}

#explore-projects:hover {
    transform: scale(1.05);
    box-shadow: #925cf07d 0px 3px 8px;
}

#contact-me {
    border: 1px solid #dbdde3;

    background-color: #fff;
}

#contact-me:hover {
    transform: scale(1.08);
    border-color: #925cf07d;
}

#div-infos {
    max-width: 380px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    background-color: #f4f8f9;

    border-radius: 12px;

    padding: 22px;

    margin-top: 24px;
}

#div-infos > h2 {
    font-size: 22px;
    font-weight: 600;
}

#cards {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.card {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;

    background-color: #f9fcfb;

    padding: 16px;
}

.logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 255, 255, 0.4),
        rgba(220, 220, 255, 0.2),
        rgba(180, 200, 255, 0.15),
        rgba(150, 170, 255, 0.1)
        ),
        linear-gradient(
        135deg,
        #f3e7ff,
        #ddeaff,
        #d4f1e6
        );
    background-size: cover;

    padding: 12px;

    border-radius: 12px;
}

.purple {
    color: #925cf0;
}

.green {
    color: #59c09f;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.card-info > p:first-child {
    font-size: 20px;
    font-weight: 700;
}

.card-info > p:last-child {
    color: #637083;
    font-size: 14px;
}

#div-infos > hr {
    width: 100%;
    height: 1px;

    background-color: #dcdfe5;
}

#mastered-language {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

#mastered-language > p {
    color: #637083;
    font-size: 14px;
}

#language {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

#language > p {
    font-size: 12px;

    padding: 4px 12px;

    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 255, 255, 0.4),
        rgba(220, 220, 255, 0.2),
        rgba(180, 200, 255, 0.15),
        rgba(150, 170, 255, 0.1)
        ),
        linear-gradient(
        135deg,
        #f3e7ff,
        #ddeaff,
        #d4f1e6
        );
    background-size: cover;

    border-radius: 9999px;
}

#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;

    background: radial-gradient(
        circle at 70% 20%,
        rgba(255, 255, 255, 0.4),
        rgba(220, 220, 255, 0.2),
        rgba(180, 200, 255, 0.15),
        rgba(150, 170, 255, 0.1)
        ),
        linear-gradient(
        135deg,
        #f3e7ff,
        #ddeaff,
        #d4f1e6
    );
    background-size: cover;

    padding: 100px 52px;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#top-project-section > p:first-child {
    color: #925cf0;
    font-size: 14px;
    font-weight: 500;

    padding: 8px 16px;

    background-color: #925cf01a;

    border-radius: 9999px;
}

.top-section > h2 {
    font-size: 48px;
    font-weight: 700;
}

.top-section > p:last-child {
    max-width: 800px;
    width: 100%;

    color: #637083;

    text-align: center;
}

#projects {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.project {
    max-width: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    background-color: #fff;

    padding: 16px;

    border-radius: 12px;
}

.project > img {
    border: 1px solid #8891a183;
    border-radius: 10px;
}

.project > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.project > div > h3 {
    font-size: 24px;
    font-weight: 600;
}

.project > div > p {
    color: #737f90;
    font-size: 14px;
}

#technologies-used {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

#technologies-used > p {
    color: #637083;
    font-size: 12px;

    padding: 4px 8px;

    background-color: #e3e5e8;

    border-radius: 10px;
}

.more-technologies {
    color: #925cf0 !important;

    background-color: #925cf033 !important;
}

.project > div > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    color: #925cf0;
    font-size: 14px;

    cursor: pointer;
}

#timeline-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #e7e6ef;

    padding: 100px 52px;
}

#top-timeline-section > p:first-child {
    color: #59c09f;
    font-size: 14px;
    font-weight: 500;

    padding: 8px 16px;

    background-color: #59c09f2b;

    border-radius: 9999px;
}

.timeline {
    max-width: 1200px;
    width: 100%;

    position: relative;

    margin: 100px auto;

    z-index: 0;
}

.container {
    width: 50%;

    position: relative;

    padding: 10px 50px; 

    animation: movedown 1s linear forwards;
    opacity: 0;

    z-index: 2;
}
@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 1s;
}

.container:nth-child(3) {
    animation-delay: 2s;
}

.container:nth-child(4) {
    animation-delay: 3s;
}

.container:nth-child(5) {
    animation-delay: 4s;
}

.container:nth-child(6) {
    animation-delay: 5s;
}



.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    font-size: 15px;

    position: relative;

    background-color: #f8f8fa;

    padding: 22px;

    border-radius: 12px;
}

.left-container > .text-box {
    align-items: flex-end !important;
}

.left-container > .text-box > p:last-child {
    text-align: right;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container > svg {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    padding: 10px;

    background-color: #fff;

    color: #fff;

    position: absolute;
    top: 28px;
    right: -26px;
    z-index: 3;
}

.right-container > svg {
    left: -24px;
}

.timeline::after {
    content: '';

    width: 6px;
    height: 100%;

    background: #fff;
    
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    
    background: #8A62E8;
    background: radial-gradient(circle, rgba(138, 98, 232, 1) 0%, rgba(54, 174, 140, 1) 100%);

    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    } 
    100% {
        height: 100%;
    }
}

.text-box > h2{
    color: hsl(240 6% 10%);
    font-weight: 700;
    font-size: 20px;
}

.tag-text-box {
    color: #925cf0;
    font-weight: 500;
    font-size: 12px;

    padding: 4px 12px;

    background-color: #925cf01a;

    border-radius: 9999px;
}

.text-box > p:nth-child(3) {
    color: #637083;
    font-size: 14px;
}

.left-container > .text-box > p:nth-child(3) {
    text-align: end;
}

.left-container-arrow {
    width: 0;
    height: 0;

    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #f8f8fa;
    right: -13px;
}

.right-container-arrow {
    width: 0;
    height: 0;

    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f8f8fa;
    left: -13px;
}

#first-svg {
    background: #8A62E8;
    background: linear-gradient(180deg, rgba(138, 98, 232, 1) 0%, rgba(138, 98, 232, 0.59) 100%);
}

#second-svg {
    background: #41B790;
    background: linear-gradient(120deg, rgba(65, 183, 144, 1) 0%, rgba(110, 196, 170, 0.59) 100%);
}

#third-svg {
    background: #787BD1;
    background: linear-gradient(120deg, rgba(120, 123, 209, 1) 0%, rgba(52, 177, 138, 1) 50%, rgba(120, 123, 209, 1) 100%);
}

#fourth-svg {
    background: #41A598;
    background: linear-gradient(120deg, rgba(65, 165, 152, 1) 0%, rgba(127, 109, 219, 1) 100%);  
}

#fifth-svg {
    background: #8269DF;
    background: linear-gradient(120deg, rgba(130, 105, 223, 1) 0%, rgba(67, 163, 154, 1) 100%);
}


@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .tag-text-box {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container > svg, .right-container > svg {
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

